@page "/beer/{index:int}"
@using ApiDemo.PunkApi
@using System.Text
@inject HttpClient Http
<PageTitle>Your selected beer</PageTitle>


@if(SelectedBeer is not null)
{

    <MudCard>
        <MudImage Src="@SelectedBeer.ImageUrl.ToString()" Alt="@SelectedBeer.Name" Elevation="25" Class="rounded-lg"/>
        <MudCardContent>
            <MudText Typo="Typo.h5">@SelectedBeer.Name</MudText>
            
            <MudSimpleTable Dense="true">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>@SelectedBeer.Id</td>
                    </tr>
                    <tr>
                        <td>Tagline</td>
                        <td>@SelectedBeer.Tagline</td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>@SelectedBeer.Id</td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>@SelectedBeer.Id</td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>@SelectedBeer.Id</td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>@SelectedBeer.Id</td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>@SelectedBeer.Id</td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>@SelectedBeer.Id</td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>@SelectedBeer.Id</td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>@SelectedBeer.Id</td>
                    </tr>

                </tbody>
                  
            </MudSimpleTable>
        </MudCardContent>
    </MudCard>

}

@code {
    [Parameter] public int index { get; set; }
    private Beer SelectedBeer;
    protected override async Task OnInitializedAsync()
    {
        SelectedBeer = await GetMeMyBeer(index);
        await base.OnInitializedAsync();
    }

    private async Task<Beer> GetMeMyBeer(int beerNumber)
    {
        var beer = await Http.GetFromJsonAsync<Beer[]>(ApiUrls.Beer(beerNumber));
        return beer.FirstOrDefault();
    }

}

